body {
    background-image: url("Universe.jpg");
    font-family: 'ArcadeClassic', sans-serif;
  }
  

  .Visual {                                                                   font-family: 'ArcadeClassic', sans-serif;
    font-family: 'ArcadeClassic', sans-serif;
    text-align: center;
  }
  #C1 {
    font-family:'Ariel'
  }

  